include LICENSE
include README.md
include BUILD.md
include share/*
include share/images/*
include share/locale/*
include share/templates/*
include share/static/*
include install/hyperdome.desktop
include install/hyperdome.appdata.xml
include tests/*.py
